.heading {
    font-size: 10em;
    font-weight: bold;
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

.heading>span {

    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(75, 9, 121, 1) 43%, rgba(49, 80, 168, 1) 79%, rgba(0, 212, 255, 1) 100%);
    /* Adjust gradient colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.get-started-button {
    margin-top: 2em;
    /* Adjust margin as needed */
    display: flex;
    justify-content: center;

    button {
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(75, 9, 121, 1) 43%, rgba(49, 80, 168, 1) 79%, rgba(0, 212, 255, 1) 100%);
        border: none;
        border-radius: 4em;
        height: 5em;
        width: 12em;
        font-size: larger;
        color: aliceblue;
        font-weight: 900;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        /* Smooth transition */

        &:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #e52e71, #ff8a00);
        }
    }
}