.navbarSection {
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        align-items: center;
        /* Align items vertically */
    }



    .hamburger {
        display: none;
        font-size: 24px;
        color: black;
        background: none;
        border: none;
        cursor: pointer;
    }

    .logoname {
        font-size: 2em;
        padding: 2%;

        a {
            text-decoration: none;
            color: black;
        }
    }



    .navLinks {
        display: flex;
        padding: 2%;

        li {
            // margin-right: 10px;
            font-size: 2em;

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: blueviolet;
                }
            }
        }

        li a {
            margin-left: 1em;
        }
    }

    @media (max-width: 768px) {
        .navLinks {
            display: none;
            flex-direction: column;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .hamburger {
            display: block;
        }

        .navLinks.open {
            display: flex;
        }
    }
}